/* 
Colour Palette
Purple - #37003c
Pink - #ff2882
Green - #00ff87
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }

h1 {
  font-size: 44px;
  color: #37003c; }

h2 {
  font-size: 28px !important; }

h3 {
  font-size: 26px !important; }

nav {
  z-index: 1;
  height: 75px; }
  nav .nav-wrapper {
    background: #37003c; }
  nav .brand-logo {
    z-index: 1; }
  nav img {
    width: 75%; }
  nav li, nav .sidenav-trigger {
    margin-top: 5px; }
  nav .list-nav-items {
    padding-left: 150px; }
  nav .nav-icon {
    position: relative;
    top: -50px;
    text-align: center; }
  nav .list-nav-button {
    padding-right: 50px; }
    nav .list-nav-button a {
      background-color: #00ff87; }
    nav .list-nav-button a:last-child {
      position: relative;
      font-weight: 700;
      right: 31px;
      color: #37003c;
      background-color: #00ff87;
      padding: 0 10px; }
    nav .list-nav-button a:last-child:hover {
      background-color: #1ae686; }
  nav .left .dropdown-trigger {
    height: 70px; }

.landing {
  margin: 0;
  padding: 0;
  background-image: url("../img/landing-fpl.jpg");
  background-size: 100%;
  background-position: -50px -150px;
  width: 100%;
  height: 100vh;
  position: relative; }
  .landing .container-custom {
    position: relative;
    top: 20px;
    margin: 0 50px; }
  .landing .container-custom .col:first-child {
    text-align: center; }
  .landing img {
    height: 500px; }
  .landing .container-form {
    margin: 10px;
    padding: 10px 50px;
    text-align: center; }
    .landing .container-form .btn:last-child {
      background-color: #00ff87;
      font-weight: 700;
      padding: 0 50px; }

form .row, form .col, form input {
  margin: -5px;
  padding: 0; }
form .row:nth-child(4), form .row:nth-child(5), form .row:nth-child(6) {
  position: relative;
  right: 18px;
  margin: 10px 0; }
form .row:nth-child(7) {
  position: relative;
  right: 8px; }

.tabs-control {
  text-align: center; }
  .tabs-control .tab.col.s3 {
    background-color: #ff2882 !important; }
    .tabs-control .tab.col.s3 a {
      color: #ffffff !important; }
  .tabs-control .active {
    background-color: #37003c !important; }
  .tabs-control .indicator {
    background-color: #37003c !important; }

#test-swipe-2, #test-swipe-3, #test-swipe-4, #test-swipe-5, #test-swipe-6, #test-swipe-7 {
  height: 720px;
  color: #ffffff; }
  #test-swipe-2 h2, #test-swipe-3 h2, #test-swipe-4 h2, #test-swipe-5 h2, #test-swipe-6 h2, #test-swipe-7 h2 {
    margin: 0;
    padding: 10% 0; }

.section-control {
  height: 720px;
  color: #ffffff; }

.section-heading {
  margin: 0;
  padding: 50px;
  color: #ffffff; }

.features {
  background-image: url("../img/section-features--background.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.card-custom {
  margin: 10px auto;
  width: 90%; }

.card-custom-text {
  padding: 40px 40px 40px 40px;
  background-color: #ff2882; }
  .card-custom-text p {
    border-left: 1px solid #ffffff;
    border-width: 4px;
    padding-left: 10px; }

.img-container-1 {
  border: 1px solid #ff2882;
  width: 100%;
  height: 250px;
  background-image: url("../img/feature-card-fpl-club-shirts.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center; }

.img-container-2 {
  border: 1px solid #ff2882;
  width: 100%;
  height: 250px;
  background-image: url("../img/feature-card-fpl-stats.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center; }

.stats {
  background-image: url("../img/statistics-features--background.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .stats button {
    margin: 20px;
    padding: 0 50px;
    color: #00ff87;
    background-color: #ffffff;
    font-weight: 700; }
  .stats button:hover {
    background-color: #f3f3f3; }

.card-stats {
  margin: 10px auto;
  width: 100%; }

.card-stats-text {
  background-color: #ff2882;
  margin: 0;
  width: fit-content;
  margin: -8px auto;
  padding: 10px 50px; }

.icon-stats-info {
  position: absolute;
  color: #ff2882;
  background-color: #ffffff;
  width: 35px;
  height: 35px;
  padding: 1px 0;
  font-weight: 700;
  font-size: 20px; }

.scouts {
  background-image: url("../img/scouts-section-background.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .scouts .row {
    margin: 10px auto; }
  .scouts .col:first-child {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
    background-image: url("../img/sadio-mane-with-football.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px; }
  .scouts .col:last-child {
    padding: 30px;
    text-align: left;
    background-color: #37003c;
    height: 400px; }
    .scouts .col:last-child p {
      padding: 20px; }

button {
  margin: 0px 20px;
  padding: 0 50px !important;
  color: #00ff87 !important;
  background-color: #ffffff !important;
  font-weight: 700; }

button:hover {
  background-color: #f3f3f3; }

.prem-cta {
  background-image: url("../img/cta-section-background.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .prem-cta .valign {
    margin: 0 auto !important; }
    .prem-cta .valign h2 {
      margin: 0;
      padding: 5px; }
    .prem-cta .valign p {
      font-size: 20px;
      padding: 5px; }
    .prem-cta .valign button {
      margin: 20px 0; }

.section-control-small {
  height: 200px; }

.section-control-small-medium {
  height: 275px; }

.club-sites {
  background-image: url("../img/club-sites-section-background.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .club-sites h2 {
    color: #00ff87; }
  .club-sites img {
    padding: 0 50px; }
  .club-sites .carousel {
    position: relative;
    bottom: 100px; }

.sponsors {
  background-image: url("../img/sponsors-section-background.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .sponsors h2 {
    color: #00ff87; }
  .sponsors .carousel {
    position: relative;
    bottom: 100px; }

footer {
  height: 600px; }
  footer .row {
    padding: 50px; }
  footer .dropdown-btn {
    height: 45px;
    width: 175px;
    background-color: #ff2882 !important;
    font-weight: 700; }
    footer .dropdown-btn i {
      position: relative;
      top: 5px;
      left: 5px; }
  footer .dropdown-content a {
    color: #ff2882; }
  footer .dropdown-btn.small-custom {
    width: 125px; }

.footer-copyright {
  background-color: #ffffff;
  padding: 20px 0 0 0; }

@media screen and (max-width: 600px) {
  .landing {
    background-image: none; }
    .landing h1 {
      text-align: center; }
    .landing .container-custom {
      margin: 0;
      padding: 0; }
    .landing .container-form {
      margin: 0;
      padding: 0;
      width: 100%; }
    .landing form .row, .landing form .col, .landing form input {
      margin: 0;
      padding: 0; }
    .landing form .row:nth-child(4), .landing form .row:nth-child(5), .landing form .row:nth-child(6) {
      right: 0;
      margin: 0 0; }
    .landing form .row:nth-child(7) {
      right: 0; }

  .tabs a {
    font-size: 12px !important; }

  .features {
    background-image: none; }

  .card-stats img {
    width: 80%; }

  .card-stats {
    margin: 50px 0; }

  .stats .col:nth-child(1) .card-stats-text {
    margin: -6px auto; } }
@media screen and (max-width: 992px) {
  .tabs-control {
    position: relative;
    top: 50px; }

  .landing {
    background-image: none; }
    .landing h1 {
      text-align: center; }

  .features {
    height: fit-content;
    background-image: none;
    padding-bottom: 50px; }

  .stats {
    height: fit-content;
    background-image: none;
    background-color: #00ff87;
    padding-bottom: 50px; }

  .card-stats {
    margin: 30px auto;
    width: 100%; }

  .scouts {
    height: fit-content;
    padding-bottom: 50px;
    background-image: none;
    background-color: #ff2882; }
    .scouts .row {
      margin: 10px auto;
      text-align: center; }
    .scouts .col:first-child {
      clip-path: none;
      height: 400px; }
    .scouts .col:last-child {
      text-align: left;
      height: fit-content; }
      .scouts .col:last-child h3 {
        padding-left: 20px; }
      .scouts .col:last-child p {
        text-align: left; }

  .prem-cta {
    background-image: none;
    background-color: #00ff87; }
    .prem-cta .valign {
      margin: 0 auto !important; }
      .prem-cta .valign h2 {
        margin: 0;
        padding: 5px; }
      .prem-cta .valign p {
        font-size: 20px;
        padding: 5px; }
      .prem-cta .valign button {
        margin: 20px 0; }

  .club-sites {
    height: 300px;
    background-image: none;
    background-color: #ffffff; }

  .sponsors {
    height: 375px;
    background-image: none;
    background-color: #ffffff; }
    .sponsors img {
      padding-bottom: 50px; }

  footer {
    height: 500px; }
    footer .row {
      padding: 30px; }
    footer .dropdown-btn {
      height: 45px;
      width: 100%;
      background-color: #ff2882 !important;
      font-weight: 700;
      margin: 10px; }
      footer .dropdown-btn i {
        position: relative;
        top: 5px;
        left: 5px; }
    footer .dropdown-content a {
      color: #ff2882; }
    footer .dropdown-btn.small-custom {
      width: 125px; } }

/*# sourceMappingURL=styles.css.map */
