/* 
Colour Palette
Purple - #37003c
Pink - #ff2882
Green - #00ff87
*/
$purple: #37003c;
$pink: #ff2882;
$green: #00ff87;
$margin-t-b: 50px;
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
// Font sizes for entire site
h1 {
    font-size: 44px;
    color: $purple;
}

h2 {
    font-size: 28px !important;
}

h3 {
    font-size: 26px !important;
}

// Nav
nav {
    z-index: 1;

    height: 75px;
    .nav-wrapper {
        background: $purple;
    }
    .brand-logo {
        z-index: 1;
    }
    img {
        width: 75%;
    }
    li, .sidenav-trigger {
        margin-top: 5px;
    }
    .list-nav-items {
        padding-left: 150px;
    }
    .nav-icon {
        position: relative; 
        top: -50px; 
        text-align: center;
    }

    .list-nav-button {
        padding-right: 50px;
        a {
            background-color: $green;
        }
        a:last-child {
            position: relative;
            font-weight: 700;
            right: 31px;
            color:$purple;
            background-color: $green;
            padding: 0 10px;
        }
        a:last-child:hover {
            background-color: desaturate( $green, 20% ) ;
        }
    }
    //Fix dropdown bottom margin
    .left .dropdown-trigger {
        height: 70px;
    }
}

// Landing
.landing { 
    margin: 0;
    padding: 0;
    background-image: url("../img/landing-fpl.jpg");
    background-size: 100%;
    background-position: -50px -150px;
    width: 100%;
    // Using 100vh makes the main tag overlap the landing section
    height: 100%;
    position: relative;
    .container-custom {
        position: relative;
        top: 20px;
        margin: 0 50px;
    }
    .container-custom .col:first-child {
        text-align: center;
    }
    img {
        height: 500px;
    }
    .container-form {
        margin: 10px;
        padding: 10px 50px;
        text-align: center;
        .btn:last-child {
            background-color: $green;
            font-weight: 700;
            padding: 0 50px;
        }
    }
}
  
// Form
form {
    .row, .col, input {
        margin: -5px;
        padding: 0;
    }
    .row:nth-child(4), .row:nth-child(5), .row:nth-child(6) {
        // Align text to the absolute left of the form
        position: relative;
        right: 18px;
        margin: 10px 0;
    }
    .row:nth-child(7) {
        position: relative;
        right: 8px;
    }
}

// Tabs
.tabs-control {
    text-align: center;
    // Tabs without the class active will be pink
    .tab.col.s3 {  
        background-color: $pink !important;
        a { 
            color: #ffffff !important;
        }
    }
    // Only the tab with the class active will be purple
    .active {
        background-color: $purple !important;
    }
    // Changing colour of tab underline
    .indicator {
        background-color: $purple !important;
    } 
}
// Adding height to unused tabs for demonstration purposes
#test-swipe-2, #test-swipe-3, #test-swipe-4, #test-swipe-5, #test-swipe-6, #test-swipe-7{
    height: 720px;
    color: #ffffff;
    h2 {
        margin: 0;
        padding: 10% 0;
    }
}
// Initialising sections
.section-control {
    height: 720px;
    color: #ffffff;
}
.section-heading {
    margin: 0;
    padding: 50px;
    color: #ffffff;
}

// Features section
.features {
    background-image: url("../img/section-features--background-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

// Card
.card-custom {
    margin: 10px auto;
    width: 90%;
}
.card-custom-text {
    padding: 40px 40px 40px 40px;
    background-color: $pink;
    p {
        border-left: 1px solid #ffffff;
        border-width: 4px;
        padding-left: 10px;
    }
}
.img-container-1 {
    border: 1px solid $pink;
    width: 100%;
    height: 250px;
    background-image: url("../img/feature-card-fpl-club-shirts.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}
.img-container-2 {
    border: 1px solid $pink;
    width: 100%;
    height: 250px;
    background-image: url("../img/feature-card-fpl-stats.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}

// Statistics section
.stats {
    background-image: url("../img/statistics-features--background-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    // Button
    button {
        margin: 20px;
        padding: 0 50px;
        color: $green;
        background-color: #ffffff;
        font-weight: 700;
    }
    button:hover {
        background-color: desaturate( #f3f3f3, 20% ) ;
    }
}
// Card for stats
.card-stats {
    margin: 10px auto;
    width: 100%;
}
.card-stats-text {
    background-color: $pink;
    margin: 0;
    width: fit-content;
    margin: -8px auto;
    padding: 10px 50px;
}

.icon-stats-info {
    position: absolute;
    color: $pink;
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    padding: 1px 0;
    font-weight: 700;
    font-size: 20px;
}

// Scouts section
.scouts {
    background-image: url("../img/scouts-section-background-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .row {
        margin: 10px auto;
    }
    .col:first-child {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
        background-image: url("../img/sadio-mane-with-football.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 400px;
    }
    .col:last-child {
        padding: 30px;
        text-align: left;
        background-color: $pink;
        height: 400px;
        p {
            padding: 20px;
        }
    }
}

button {
    margin: 0px 20px;
    padding: 0 50px !important;
    color: $green !important;
    background-color: #ffffff !important;
    font-weight: 700;
}
button:hover {
    background-color: desaturate( #f3f3f3, 20% ) ;
}
// Premier League CTA section
.prem-cta {
    background-image: url("../img/cta-section-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .valign {
        margin: 0 auto !important;
        h2 {
            margin: 0;
            padding: 5px;
        }
        p {
            font-size: 20px;
            padding: 5px;
        }
        button {
            margin: 20px 0;
        }
    }
}

// Initialising small section
.section-control-small {
    height: 200px;
}

.section-control-small-medium {
    height: 275px;
}

// Club Sites section
.club-sites {
    background-image: url("../img/club-sites-section-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
        color: $green;
    }
    img {
        padding: 0 50px;
    }
    .carousel {
        position: relative;
        bottom: 100px;
    }
}

// Club Sites section
.sponsors {
    background-image: url("../img/sponsors-section-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
        color: $green;
    }
    .carousel {
        position: relative;
        bottom: 100px;
    }
}

// Footer Section
footer {
    height: fit-content;
    .row {
        padding: 50px;
    }
    .dropdown-btn {
        height: 45px;
        width: 175px;
        background-color: $pink !important;
        font-weight: 700;
        i {
           position: relative;
           top: 5px;
           left: 5px;
        }
    }
    .dropdown-content {
        a {
            color: $pink;
        }
    }
    .dropdown-btn.small-custom {
        width: 125px;
    }
}

// Footer Copyright
.footer-copyright {
    background-color: #ffffff;
    padding: 20px 0 0 0;
    img {
        width: 60%;
    }
}

// Modal Sign In
.modal-content {
    h4 {
        color: $purple;
        text-align: center;
        margin: 20px 0;
    }
    form {
        button {
            margin: 0 auto !important;
        }
        .row {
            margin: 20px 0;
        }
    }
    p {
        font-weight: 700;
    }
    a {
        position: absolute !important;
        top: 0;
        right: 0;
    }
    a:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    // Google sign buttons
    .google-button {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        a {
            width: 100%;
            text-align: center;
            box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.2);
            border-radius: 3px;
        }
        span {
            position: relative;
            bottom: 10px;
            color: #757575;
            margin-right: 20px;
        }
        .google-icon {
            width: 24px;
            margin-right: 20px;
            margin-left: 20px;
            margin-top: 10px;
            margin-bottom: 3px;
        }
    }
    // Facebook sign buttons
    .facebook-button {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        a { 
            text-align: center;
            width: 100%;
            background-color: #3b5998 !important;
            box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.2);
            border-radius: 3px;
            margin: 50px 0 !important;
        }
        span {
            position: relative;
            bottom: 10px;
            color: #ffffff;
            margin-right: 20px;
        }
        .facebook-icon {
            width: 24px;
            margin-right: 20px;
            margin-left: 20px;
            margin-top: 10px;
            margin-bottom: 3px;
        }
    }
}

// Media queries
// Mobile devices 600px and down
@media screen and (max-width: 600px) {
    // Landing
    .landing {
        background-image: none;
        h1 {
            text-align: center;
        }
        // Form
        .container-custom {
            margin: 0;
            padding: 0;
        }
        .container-form {
            margin: 0;
            padding: 0;
            width: 100%;
        }
        // Adjusting form inputs
        form {
            .row, .col, input {
                margin:  0;
                padding: 0;
            }
            .row:nth-child(4), .row:nth-child(5), .row:nth-child(6) {
                // Align text to the absolute left of the form
                right: 0;
                margin: 0 0;
            }
            .row:nth-child(7) {
                right: 0;
            }
        }
    }
    // Tabs
    //Removing horizontal scroll bar of tabs
    .tabs a {
        font-size: 12px !important;
    }

    // Features
    .features {
        background-image: none;
    }
    // Stats 
    .card-stats img {
        width: 80%;
    }
    .card-stats {
        margin: 50px 0;
    }
    // added small gap
    .stats {
        .col:nth-child(1) {
            .card-stats-text {
                margin: -6px auto;
            }
        }
    }
}

// Table devices 992px and down
@media screen and (max-width: 992px) {
    .tabs-control {
        //To fix tabs overlaying button
        position: relative;
        top: 50px;
    }
    
    // Landing
    .landing { 
        background-image: none;
        h1 {
            text-align: center;
        }
    }
    // Features section
    .features {
        height: fit-content;
        background-image: none;
        padding-bottom: 50px;
    }
    // Statistics section
    .stats {
        height: fit-content;
        background-image: none;
        background-color: $green;
        padding-bottom: 50px;
    }

    // Card for stats
    .card-stats {
        margin: 30px auto;
        width: 100%;
    }

    // Scouts section
    .scouts {
        height: fit-content;
        padding-bottom: 50px;
        background-image: none;
        background-color: $pink;
        .row {
            margin: 10px auto;
            text-align: center;
        }
        .col:first-child {
            clip-path: none;
            height: 400px;
        }
        .col:last-child {
            text-align: left;
            height: fit-content;
            h3 {
                padding-left: 20px;
            }
            p {
                text-align: left;
            }
        }
    }

    // Premier League CTA
    .prem-cta {
        background-image: none;
        background-color: $green;
        .valign {
            margin: 0 auto !important;
            h2 {
                margin: 0;
                padding: 5px;
            }
            p {
                font-size: 20px;
                padding: 5px;
            }
            button {
                margin: 20px 0;
            }
        }
    }

    // Club Sites
    .club-sites {
        height: 300px;
        background-image: none;
        background-color: #ffffff;
    }

    // Sponsors
    .sponsors {
        height: 375px;
        background-image: none;
        background-color: #ffffff;
        img {
            padding-bottom: 50px;
        }
    }
    // Footer
    footer {
        height: 500px;
        .row {
            padding: 30px;
        }
        .dropdown-btn {
            height: 45px;
            width: 100%;
            background-color: $pink !important;
            font-weight: 700;
            margin: 10px;
            i {
               position: relative;
               top: 5px;
               left: 5px;
            }
        }
        .dropdown-content {
            a {
                color: $pink;
            }
        }
        .dropdown-btn.small-custom {
            width: 125px;
        }
    }

    .modal-content {
        // Google sign buttons
        .google-button {
            font-size: 12px;
            a {
                width: 100%;
            }
        }
        // Facebook sign buttons
        .facebook-button {
            font-size: 12px;
            a {
                width: 100%;
            }
        }
    }
}