/* 
Colour Palette
Purple - #37003c
Pink - #ff2882
Green - #00ff87
*/
$purple: #37003c;
$pink: #ff2882;
$green: #00ff87;
$margin-t-b: 50px;
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 44px;
    color: $purple;
}

// Nav
nav {
    height: 75px;
    .nav-wrapper {
        background: $purple;
    }
    img {
        width: 75%;
    }
    li, .sidenav-trigger {
        margin-top: 5px;
    }
    .list-nav-items {
        padding-left: 150px;
    }
    .nav-icon {
        position: relative; 
        top: -50px; 
        text-align: center;
    }
    // Remove hover effect
    ul a:hover {
        background-color: rgba(0, 0, 0, 0) !important;
    }
    .list-nav-button {
        // padding-right: 50px;
        a {
            background-color: $green;
        }
        a:last-child {
            position: relative;
            right: 31px;
            color: $green;
            border: 1px solid $green;
            border-left-color: transparent;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background-color: $purple;
            padding: 0 10px;
        }

    }
    //Fix dropdown bottom margin
    .left .dropdown-trigger {
        height: 70px;
    }
}

// Landing
.landing { 
    margin: 0;
    padding: 0;
    background-image: url("../img/landing-fpl.jpg");
    background-size: 100%;
    background-position: -50px -150px;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
    top: -75px;
    z-index: -1;
    .container-custom {
        position: relative;
        top: 75px;
        margin: 0 50px;
    }
    .container-custom .col:first-child {
        text-align: center;
    }
    img {
        height: 500px;
    }
    .container-form {
        margin: 10px;
        padding: 10px 50px;
        z-index: 100;

        button {
            background-color: $green;
        }
    }
  }
  

